/* Mixins styles*/

.button {
  border: solid;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-size: .8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  border-radius: 40px;
}


